# -*- python -*-
# ex: set filetype=python:

from buildbot.plugins import *
import factory

# This is a sample buildmaster config file. It must be installed as
# 'master.cfg' in your buildmaster's base directory.

# This is the dictionary that the buildmaster pays attention to. We also use
# a shorter alias to save typing.
c = BuildmasterConfig = {}

####### WORKERS

# The 'workers' list defines the set of recognized workers. Each element is
# a Worker object, specifying a unique worker name and password.  The same
# worker name and password must be configured on the worker.
c['workers'] = [worker.Worker("bazar", "123")]

# 'protocols' contains information about protocols which master will use for
# communicating with workers. You must define at least 'port' option that workers
# could connect to your master with this protocol.
# 'port' must match the value configured into the workers (with their
# --master option)
c['protocols'] = {'pb': {'port': 9989}}

####### CHANGESOURCES

# the 'change_source' setting tells the buildmaster how it should find out
# about source code changes.  Here we point to the buildbot clone of pyflakes.

repourl='git://github.com/akazakov/green-bean.git'

c['change_source'] = []
c['change_source'].append(changes.GitPoller(
        repourl,
        workdir='gitpoller-workdir', branch='master',
        pollinterval=15))

####### SCHEDULERS

# Configure the Schedulers, which decide how to react to incoming changes.  In this
# case, just kick off a 'runtests' build

c['schedulers'] = []
c['schedulers'].append(schedulers.AnyBranchScheduler(
                            name="all",
                            treeStableTimer=None,
                            builderNames=["pre-commit"]))
c['schedulers'].append(schedulers.ForceScheduler(
                            name="force",
                            builderNames=["pre-commit"]))

build_trigger1 = schedulers.Triggerable(name="m4.large",
                               builderNames=["m4.large"])

build_trigger2 = schedulers.Triggerable(name="m4.2xlarge",
                               builderNames=["m4.2xlarge"])

c['schedulers'].append(build_trigger1)
c['schedulers'].append(build_trigger2)

####### BUILDERS

# The 'builders' list defines the Builders, which tell Buildbot how to perform a build:
# what steps, and which workers can execute them.  Note that any particular build will
# only take place on one worker.

ft = util.BuildFactory()
ft.addStep(steps.Git(repourl=repourl, mode='incremental'))
ft.addStep(factory.DynamicTrigger(["a"]))

f = util.BuildFactory()
f.addStep(steps.Git(repourl=repourl, mode='incremental'))
f.addStep(factory.GenerateStagesCommand(
    name="Generate build stages",
    command=["./build.py", "--list_steps"],
    haltOnFailure=True))

c['builders'] = []

c['builders'].append(
    util.BuilderConfig(name="pre-commit",
      workernames=["bazar"],
      factory=ft))

c['builders'].append(
    util.BuilderConfig(name="m4.large",
      workernames=["bazar"],
      factory=f))

c['builders'].append(
    util.BuilderConfig(name="m4.2xlarge",
      workernames=["bazar"],
      factory=f))


####### BUILDBOT SERVICES

# 'services' is a list of BuildbotService items like reporter targets. The
# status of each build will be pushed to these targets. buildbot/reporters/*.py
# has a variety to choose from, like IRC bots.

c['services'] = []

####### PROJECT IDENTITY

# the 'title' string will appear at the top of this buildbot installation's
# home pages (linked to the 'titleURL').

c['title'] = "Pyflakes"
c['titleURL'] = "https://launchpad.net/pyflakes"

# the 'buildbotURL' string should point to the location where the buildbot's
# internal web server is visible. This typically uses the port number set in
# the 'www' entry below, but with an externally-visible host name which the
# buildbot cannot figure out without some help.

c['buildbotURL'] = "http://localhost:8010/"

# minimalistic config to activate new web UI
c['www'] = dict(port=8010,
                plugins=dict(waterfall_view={}, console_view={}))

####### DB URL

c['db'] = {
    # This specifies what database buildbot uses to store its state.  You can leave
    # this at its default for all but the largest installations.
    'db_url' : "sqlite:///state.sqlite",
}

